<html>
 <meta property="og:title" content="Things OTP" />
  <meta property="og:site_name" content="Things One Time Password Gen" />
  <meta property="og:description" content="Things OTP is the first of it's kind. Don't have a phone? No problem at all." />
<head>
<link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
<style>
body {
    font-family: 'Varela Round';font-size: 22px;
}
</style>
</head>
<body>
<html>

<head>
<center>
    <title>Things OTP</title>
</head>

<style>
body {
  background-color: #380356;
}

h1 {
  color: purple;
  margin-left: 40px;
}
</style>
<body>
    <h1>Things 2FA</h1>
	<head>
  <style>
    button#generate-otp:hover {
      transform: scale(1.1);
	  transition: transform 0.5s;
    }
  </style>
  
</head>
<body>
  <button id="generate-otp" style="background-color: #CCC3E3; border-radius: 10px; height: 30px; width: 100px;">Generate</button>
    <p id="otp-value"></p>

    <script>
        const generateOtpButton = document.getElementById('generate-otp')
        const optv = document.getElementById('otp-value')

        generateOtpButton.addEventListener('click', () => {
		x = prompt('What is your secret key?')
		y = x.replace(/\s/g,'')
            fetch('/generate/' + y)
                .then(response => response.json())
                //.then(data => console.log(data))
                // pop up alert for data
                .then(data => {
                    alert(data.otp)
                   var a = document.createElement("a");
					a.setAttribute("href", "/generate/" + y);
					a.innerHTML = data.otp;
					document.body.appendChild(a);
                })
                .catch(error => console.error(error))
        })
    </script>
</center>
</body>

</html>
