
<html>

<head>
    <title>OTP Generator</title>
</head>

<body>
    <h1>OTP Generator</h1>
    <button id="generate-otp">Generate OTP</button>
    <p id="otp-value"></p>

    <script>
        const generateOtpButton = document.getElementById('generate-otp')
        const optv = document.getElementById('otp-value')

        generateOtpButton.addEventListener('click', () => {
        x = prompt("What is the OTP code?")
            fetch('./' + x)
                .then(response => response.json())
                //.then(data => console.log(data))
                // pop up alert for data
                .then(data => {
                    alert(data.otp)
                    optv.innerHTML = data.otp
                })
                .catch(error => console.error(error))
        })
    </script>
</body>

</html>
